<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="day43">
  <test thread-count="5" name="day43">
    <classes>
      <class name="day43.AnnotationsDemo1"/>
      <class name="day43.AnnotationsDemo2"/>
    </classes>
  </test> <!-- day43 -->
</suite> <!-- day43 -->
