<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="day44">
  <test thread-count="5" name="Test">
      <groups>
      
      <run>
     
      <include name="functional"/>
      
      </run>
      
      </groups>
  
    <classes>
      <class name="day44.SignUp"/>
      <class name="day44.PaymentinDollars"/>
      <class name="day44.LoginTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- day44 -->
